[push]
    default = simple

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true

[color]
    interactive = true
    branch = true
    status = true

[alias]
    ci = commit

[pull]
	rebase = true

[init]
	defaultBranch = master
